/*colors*/
/*text styles*/
/*box model*/
/*mobile*/
html, body {
  margin: 0;
  padding: 0;
  background-color: #ffe8da;
  font-size: 100%;
}

.header {
  margin: 0;
  border-bottom: 1px solid #808080;
}

.header--sticky {
  position: relative;
}

.header__photo-of-me {
  max-width: 50%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  padding: 1.25rem;
}

.header__name {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  padding: 1.25rem;
  margin: 0;
  color: #1e3575;
  text-align: center;
}

.nav {
  margin: 1.5rem 7rem;
  padding-left: 0;
}

.nav__item {
  list-style-type: none;
  padding: 1.25rem;
  font-family: "Nunito", sans-serif;
  font-size: 1.3rem;
  text-align: center;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 1.25rem;
}

.nav__link--highlighted {
  border: 2px solid #e0b1af;
}

.nav__link:hover {
  background-color: #a7a7f8;
  border: none;
}

.content {
  padding: 2rem;
}

.introduction {
  padding: 4.5rem 0;
  border-bottom: 1px solid #808080;
}

.short-info {
  font-family: "Poppins", sans-serif;
  margin: 0;
  text-align: justify;
  margin-bottom: 1.6rem;
}

.contact--highlighted {
  background-color: #e0b1af;
}

.email,
.phone,
.linkedin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.phone__icon,
.email__icon,
.linkedin__icon {
  max-width: 5%;
  padding: 1.25rem;
}

.phone__text {
  font-family: "Poppins", sans-serif;
  margin: 1rem;
  color: #2e2e2e;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.email__odkaz,
.linkedin__odkaz {
  font-family: "Poppins", sans-serif;
  margin: 1rem;
  color: #2e2e2e;
  text-decoration: none;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.CV-btn {
  padding: 1.25rem 2.5rem;
  font-family: "Poppins", sans-serif;
  border-radius: 2%;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 1.6rem;
}

.CV-btn--animation {
  border: 1px solid #2e2e2e;
  background-color: #ffe8da;
  -webkit-box-shadow: 1px 1px 0 #e0b1af, 2px 2px 0 #e0b1af, 3px 3px 0 #e0b1af, 4px 4px 0 #e0b1af, 5px 5px 0 #e0b1af;
          box-shadow: 1px 1px 0 #e0b1af, 2px 2px 0 #e0b1af, 3px 3px 0 #e0b1af, 4px 4px 0 #e0b1af, 5px 5px 0 #e0b1af;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.CV-btn:hover {
  font-weight: bold;
  -webkit-box-shadow: 1px 1px 0 #e0b1af, 2px 2px 0 #e0b1af, 3px 3px 0 #e0b1af, 4px 4px 0 #e0b1af, 5px 5px 0 #e0b1af, 6px 6px 0 #e0b1af, 7px 7px 0 #e0b1af, 8px 8px 0 #e0b1af, 8px 8px 0 #e0b1af, 9px 9px 0 #e0b1af, 10px 10px 0 #e0b1af;
          box-shadow: 1px 1px 0 #e0b1af, 2px 2px 0 #e0b1af, 3px 3px 0 #e0b1af, 4px 4px 0 #e0b1af, 5px 5px 0 #e0b1af, 6px 6px 0 #e0b1af, 7px 7px 0 #e0b1af, 8px 8px 0 #e0b1af, 8px 8px 0 #e0b1af, 9px 9px 0 #e0b1af, 10px 10px 0 #e0b1af;
  -webkit-transform: translate3d(-5px, -5px, -5px);
          transform: translate3d(-5px, -5px, -5px);
}

#omne {
  display: hidden;
}

.about-me {
  padding: 4.5rem 0;
  border-bottom: 1px solid #808080;
}

.about-me__heading {
  font-family: "Nunito", sans-serif;
  margin: 0;
  margin-bottom: 1.5rem;
  color: #1e3575;
}

.career__short-info {
  font-family: "Poppins", sans-serif;
  margin: 0;
  text-align: justify;
}

.skills {
  font-family: "Poppins", sans-serif;
}

.skills--highlighted {
  background-color: #e0b1af;
}

.skills__item {
  padding: 1.25rem;
}

.figure-animation {
  display: none;
}

#workexperience {
  display: hidden;
}

.work-experience {
  padding: 4.5rem 0;
  border-bottom: 1px solid #808080;
}

.work-experience__heading {
  font-family: "Nunito", sans-serif;
  margin: 0;
  margin-bottom: 1.5rem;
  color: #1e3575;
}

.work-experience__item {
  font-family: "Poppins", sans-serif;
  padding-left: 0;
  list-style-type: none;
}

.work-experience__1,
.work-experience__2 {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-experience__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

#getintouch {
  display: hidden;
}

#text-animation {
  -webkit-animation: bouncing 1s infinite alternate;
          animation: bouncing 1s infinite alternate;
}

@-webkit-keyframes bouncing {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes bouncing {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.get-in-touch {
  padding: 4.5rem 0;
  border-bottom: 1px solid #808080;
}

.get-in-touch__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#name,
#email,
#phone,
#subject,
#text {
  padding: 1.25rem;
  margin: 0.7rem 0.7rem 0.7rem 0;
  font-family: "Nunito", sans-serif;
}

.form-btn {
  padding: 1.25rem 2.5rem;
  font-family: "Poppins", sans-serif;
  border-radius: 2%;
  cursor: pointer;
}

.form-btn--animation {
  border: 1px solid #2e2e2e;
  background-color: #ffe8da;
  -webkit-box-shadow: 1px 1px 0 #e0b1af, 2px 2px 0 #e0b1af, 3px 3px 0 #e0b1af, 4px 4px 0 #e0b1af, 5px 5px 0 #e0b1af;
          box-shadow: 1px 1px 0 #e0b1af, 2px 2px 0 #e0b1af, 3px 3px 0 #e0b1af, 4px 4px 0 #e0b1af, 5px 5px 0 #e0b1af;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.form-btn:hover {
  font-weight: bold;
  -webkit-box-shadow: 1px 1px 0 #e0b1af, 2px 2px 0 #e0b1af, 3px 3px 0 #e0b1af, 4px 4px 0 #e0b1af, 5px 5px 0 #e0b1af, 6px 6px 0 #e0b1af, 7px 7px 0 #e0b1af, 8px 8px 0 #e0b1af, 8px 8px 0 #e0b1af, 9px 9px 0 #e0b1af, 10px 10px 0 #e0b1af;
          box-shadow: 1px 1px 0 #e0b1af, 2px 2px 0 #e0b1af, 3px 3px 0 #e0b1af, 4px 4px 0 #e0b1af, 5px 5px 0 #e0b1af, 6px 6px 0 #e0b1af, 7px 7px 0 #e0b1af, 8px 8px 0 #e0b1af, 8px 8px 0 #e0b1af, 9px 9px 0 #e0b1af, 10px 10px 0 #e0b1af;
  -webkit-transform: translate3d(-5px, -5px, -5px);
          transform: translate3d(-5px, -5px, -5px);
}

.footer__text {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

/*TABLET*/
@media (min-width: 600px) {
  .header__medium {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__photo-of-me {
    max-width: 20%;
    margin: 0;
  }
  .header__name {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .nav {
    margin: 1.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__item {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .personal-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(360px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 5%;
    color: #2e2e2e;
    text-align: justify;
    letter-spacing: 0.5px;
  }
  .email,
  .phone,
  .linkedin {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 1fr;
        grid-template-columns: 20% 1fr;
    gap: 5%;
    color: #2e2e2e;
    text-align: justify;
    letter-spacing: 0.5px;
    padding: 0.5rem;
        grid-template-areas: "icon email" "icon phone" "icon linkedin";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .phone__icon,
  .email__icon,
  .linkedin__icon {
    max-width: 30%;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .career {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(360px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 5%;
    color: #2e2e2e;
    text-align: justify;
    letter-spacing: 0.5px;
  }
  .work-experience__1,
  .work-experience__2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10%;
    color: #2e2e2e;
    text-align: justify;
    letter-spacing: 0.5px;
  }
  .get-in-touch__form {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "name email" "phone subject" "text text";
  }
  #name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: name;
  }
  #email {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: email;
  }
  #phone {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: phone;
  }
  #subject {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: subject;
  }
  #text {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: text;
  }
}

.form-btn {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-align: left;
      justify-self: left;
  margin-top: 1.25rem;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
  margin-left: 0;
}

/*PC*/
@media (min-width: 1200px) {
  html {
    font-size: 105%;
  }
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    background-color: #ffe8d5;
    z-index: 10;
  }
  .header--sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .header__photo-of-me {
    max-width: 120px;
    height: auto;
    padding: 1.5rem 0;
  }
  .nav {
    margin: 1.5rem 0;
  }
  .nav__item {
    display: inline-block;
  }
  .content {
    padding: 0 12.5rem 1rem 12.5rem;
    z-index: 5;
  }
  .personal-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(360px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 10%;
    color: #2e2e2e;
    text-align: justify;
    letter-spacing: 0.5px;
  }
  #omne {
    visibility: hidden;
    position: relative;
    top: -200px;
  }
  .CV-btn {
    padding: 1.25rem 2.5rem;
    font-family: "Poppins", sans-serif;
    border-radius: 2%;
    cursor: pointer;
    position: relative;
    right: 40px;
    bottom: 40px;
    display: inline-block;
  }
  .CV-icon {
    width: 178.233px;
    height: 69px;
    position: relative;
    right: 40px;
    bottom: 40px;
    display: inline-block;
  }
  .CV-icon img {
    max-width: 5%;
  }
  .figure-animation {
    display: block;
  }
  .career {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10%;
    color: #2e2e2e;
    text-align: justify;
    letter-spacing: 0.5px;
  }
  .animation {
    position: relative;
    z-index: 0;
  }
  .figure-animation {
    position: absolute;
    top: -30%;
    left: -20%;
    z-index: 1;
  }
  #head {
    -webkit-animation: figure 1s infinite alternate;
            animation: figure 1s infinite alternate;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    transform-box: fill-box;
  }
  @-webkit-keyframes figure {
    from {
      -webkit-transform: rotateZ(-5deg);
              transform: rotateZ(-5deg);
    }
    to {
      -webkit-transform: rotateZ(10deg);
              transform: rotateZ(10deg);
    }
  }
  @keyframes figure {
    from {
      -webkit-transform: rotateZ(-5deg);
              transform: rotateZ(-5deg);
    }
    to {
      -webkit-transform: rotateZ(10deg);
              transform: rotateZ(10deg);
    }
  }
  #workexperience {
    visibility: hidden;
    position: relative;
    top: -200px;
  }
  #getintouch {
    visibility: hidden;
    position: relative;
    top: -200px;
  }
}
/*# sourceMappingURL=style.css.map */