/*colors*/
$mainColor: #ffe8da;
$highlightColor: #e0b1af;
$textColor:#2e2e2e;
$headingColor:#1e3575;

/*text styles*/
$textFont:'Poppins', sans-serif;
$headingFont: 'Nunito', sans-serif;
$textspacing:0.5px;
$textAlign:justify;

/*box model*/
$itemPadding:1.25rem ;
$zeroMargin:0;
$sectionBorder:1px solid #808080;

@mixin sections {
    padding:4.5rem 0;
    border-bottom: $sectionBorder;
}

@mixin subSection($display, $columnTemplate, $gap) {
    display: $display;
    grid-template-columns:$columnTemplate;
    gap:$gap;
    color: $textColor;
    text-align: $textAlign;
    letter-spacing: $textspacing;
}

@mixin headingSection {
    font-family: $headingFont;
    margin: $zeroMargin;
    margin-bottom:1.5rem;
    color: $headingColor;
}

@mixin formCells {
    padding: $itemPadding;
    margin:0.7rem 0.7rem 0.7rem 0;
    font-family: $headingFont;
}

@mixin btn {
    padding: 1.25rem 2.5rem;
    font-family: $textFont;
    border-radius: 2%;
    cursor: pointer;
}

@mixin btnAnimation {
    border: 1px solid $textColor;
    background-color: #ffe8da;
    box-shadow:1px 1px 0 #e0b1af, 2px 2px 0 #e0b1af, 3px 3px 0 #e0b1af, 4px 4px 0 #e0b1af, 5px 5px 0 #e0b1af;
    transition: all 0.1s linear;
}

@mixin btnHover{
    font-weight: bold;
    box-shadow:1px 1px 0 #e0b1af, 2px 2px 0 #e0b1af, 3px 3px 0 #e0b1af, 4px 4px 0 #e0b1af, 5px 5px 0 #e0b1af, 6px 6px 0 #e0b1af, 7px 7px 0 #e0b1af, 8px 8px 0 #e0b1af, 8px 8px 0 #e0b1af, 9px 9px 0 #e0b1af, 10px 10px 0 #e0b1af;
    transform:translate3d(-5px, -5px, -5px);
}

@mixin contacts {
    font-family: $textFont;
    margin: 1rem;
    color:$textColor;
}

/*mobile*/

html, body{
    margin:$zeroMargin;
    padding: 0;
    background-color: $mainColor;
    font-size: 100%;
}

.header{
    margin:$zeroMargin;
    border-bottom: $sectionBorder;
    &--sticky{
        position: relative;
    }
    &__photo-of-me{
        max-width: 50%;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        padding: $itemPadding;
    }
    &__name{
        font-family: $headingFont;
        font-size: 2rem;
        padding: $itemPadding;
        margin: $zeroMargin;
        color: $headingColor;
        text-align: center;
    }
}

.nav{
    margin: 1.5rem 7rem;
    padding-left: 0;

    &__item{
        list-style-type: none;
        padding: $itemPadding;
        font-family: $headingFont;
        font-size: 1.3rem;
        text-align: center;
    }
    &__link{
        text-decoration: none;
        color: #000000;
        display: block;
        padding: 1.25rem;
    &--highlighted{
        border: 2px solid #e0b1af;
        }
        &:hover{
            background-color: rgb(167, 167, 248);
            border: none;
        }
    }
}

.content{
    padding:2rem; 
}

.introduction{
    @include sections();
}

.short-info{
    font-family: $textFont;
    margin: $zeroMargin;
    text-align: $textAlign;
    margin-bottom: 1.6rem;
}

.contact--highlighted{
    background-color:$highlightColor;
}

.email,
.phone,
.linkedin{
    display: flex;
    justify-content: space-between;
}

.phone__icon,
.email__icon,
.linkedin__icon{
    max-width:5%;
    padding:$itemPadding; 
}

.phone__text{
    @include contacts();
    flex-basis: 55%;
    align-self: center;
}

.email__odkaz,
.linkedin__odkaz{
    @include contacts();
    text-decoration: none;
    flex-basis: 55%;
    align-self: center;
}

.CV-btn{
    @include btn();  
    display: block;
    margin:0 auto;
    margin-top: 1.6rem;
    &--animation{
        @include btnAnimation();
    }
        &:hover{
            @include btnHover();
        }
}

#omne{
    display: hidden;
}

.about-me{
    @include sections();
    &__heading{
        @include headingSection;
    }
}

.career{
    &__short-info{
        font-family: $textFont;
        margin: $zeroMargin;
        text-align: $textAlign; 
    }
}

.skills{
    font-family: $textFont;
    &--highlighted{
        background-color:$highlightColor;
    }
    &__item{
        padding:$itemPadding;
    }
}

.figure-animation{
    display: none;
}

#workexperience{
    display: hidden;
}

.work-experience{
    @include sections();
    &__heading{
        @include headingSection;
    }
    &__item{
        font-family: $textFont;
        padding-left: 0;
        list-style-type:none;
    }
}

.work-experience__1,
.work-experience__2{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    }

.work-experience__item{
    flex-basis:50%;
}

#getintouch{
    display: hidden;
}

#text-animation{
    animation: bouncing 1s infinite alternate;
}

@keyframes bouncing {
    from{
        transform: scale(1)  
    }
    to{
        transform: scale(1.1)
    }
}

.get-in-touch{
    @include sections();
    &__form{
        display: flex;
        flex-direction: column;
    }
}

#name,
#email,
#phone,
#subject,
#text{
    @include formCells();
}

.form-btn{
    @include btn();
    &--animation{
        @include btnAnimation();
    }
    &:hover{
        @include btnHover();
    }
}

.footer__text{
    font-family: $textFont;
    text-align: center;
}

/*TABLET*/

@media (min-width:600px){
    
    .header{
        &__medium{
           display: flex;
           justify-content: center;
        }
        &__photo-of-me{
            max-width: 20%;
            margin: $zeroMargin;
        } 
        &__name{
            align-self: center; 
        }
    }

    .nav{
        margin: 1.5rem 0;
        display: flex;
        justify-content: center;
        &__item{
            align-self: center;
        }
    }

    .personal-card{
        @include subSection(grid,repeat(auto-fit, minmax(360px, 1fr)), 5% );
    }

    .email,
    .phone,
    .linkedin{
        @include subSection(grid,20% 1fr, 5%);
        padding: 0.5rem;
        grid-template-areas: 
        "icon email"
        "icon phone"
        "icon linkedin";
        align-items: center;
    }

    .phone__icon,
    .email__icon,
    .linkedin__icon{
        max-width: 30%;
        justify-self: end;
    }

    .career{
        @include subSection(grid,repeat(auto-fit, minmax(360px, 1fr)), 5% );
    }
    
    .work-experience__1,
    .work-experience__2{
        @include subSection(grid,repeat(auto-fit, minmax(200px, 1fr)), 10% );
    }

    .get-in-touch{
        &__form{
            display: grid;
            grid-template-areas: 
            "name email"
            "phone subject"
            "text text";
        }
    }
    
    #name{
        grid-area: name;
    }

    #email{
        grid-area: email;
    }

    #phone{
        grid-area: phone;
    }

    #subject{
        grid-area: subject;
    }

    #text{
        grid-area: text;
    }

.form-btn{
    grid-column-start: 1;
    justify-self: left;
    margin:{
        top:1.25rem;
        right: 1.25rem;
        bottom: 1.25rem;
        left: 0;
    }
}

/*PC*/

@media (min-width: 1200px){

    html{
        font-size: 105%;
    }

    .header{
        display: grid;
        grid-template-columns: 1fr 1fr;
       
        background-color: #ffe8d5;
        z-index: 10;
            &--sticky{
                position: sticky;
                top: 0;
            }
            &__photo-of-me{
                max-width: 120px;
                height: auto;
                padding: 1.5rem 0; 
            }
    }

    .nav{
        margin: 1.5rem 0;
        &__item{
            display: inline-block;
        }
    }

    .content{
        padding: 0 12.5rem 1rem 12.5rem;  
        z-index: 5;
    }

    .personal-card{
        @include subSection(grid,repeat(auto-fit, minmax(360px, 1fr)), 10% );
    }

    #omne{
        visibility: hidden;
        position: relative;
        top: -200px;
    }
    
    .CV-btn{
        @include btn();
        position: relative;
        right:40px;
        bottom:40px;
        display: inline-block;
    }

    .CV-icon{
        width: 178.233px;
        height:69px;
        position: relative;
        right:40px;
        bottom:40px;
        display: inline-block;
    }

    .CV-icon img{
        max-width: 5%;
    }

    .figure-animation{
        display: block;
    }

    .career{
        @include subSection(grid,repeat(auto-fit, minmax(200px, 1fr)), 10% );
    }

    .animation{
        position: relative;
        z-index: 0;
    }

    .figure-animation{
        position: absolute;
        top:-30%;
        left:-20%;
        z-index: 1;
    }

    #head{
        animation: figure 1s infinite alternate;
        transform-origin: bottom;
        transform-box: fill-box;
    }

    @keyframes figure {
        from{
            transform: rotateZ(-5deg)
        }
        to{
            transform: rotateZ(10deg)
        }
    }

    #workexperience{
        visibility: hidden;
        position: relative;
        top: -200px;
    }

    #getintouch{
        visibility: hidden;
        position: relative;
        top: -200px;
    }
}